application/config/development/database.php
application/config/development/config.php
application/cache
application/config/config.php
.htaccess
assets/cache
post-receive
Makefile
git-ftp.py
git-ftp.1
git-ftp-test.py
.DS_Store