

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import "fonts.less";

@base_grey: #eee;
@med_grey: #ccc;
@dark: #000;

@menuwidth: 250px;
@socialheight: 40px;

html, body {
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:lighter;
}

h1 {
  font-size:25px;
  line-height:26px;
}

section {position:relative;}


body {
  background:@base_grey;
  font-family:'one_night_onlymedium';
  font-size:14px;
  color:#000;
  a {
    color:#000;
    text-decoration:none;
    &:hover, &:active, &:focus { color:#333; text-decoration:none; }
    &.selected { color:black;}
  }
}

nav {
  position:relative;
  small {
    font-size:70%;
    color:@med_grey;
    position:relative;
    top:3px;
  }
  ul {
    text-transform:uppercase;
    list-style:none;
    padding:10px 0;
    margin:15px 50px;
    border-top:1px @dark solid;
    border-bottom:1px @dark solid;
    a {
      display:block;
    }
    li {
      margin:15px 0 0 0;
      &:first-child {margin:0;}
    }
    ul {
      margin:0 0 0 10px;
      padding:0;
      border:none;
      li { margin:0; }
    }
  }
  
  &.main {
    position:fixed;
    top:0;
    left:0;
    height:100%;
    background:white;
    width:@menuwidth;
    z-index:3000;
  }
  
  h1 {
    font-size:21px;
    margin:0 auto 6px auto;
    text-align:center;
  }
  
  #main_countdown {
    .countdown{
      width:170px;
      margin:0 auto;
  	  text-transform:uppercase;
    }
  }

  .countdown_show3 .countdown_section {
  	width: 55px;
  }
}


#logo a {
  background: url('../img/logo.png') no-repeat scroll top left;
  width: 128px;
  height: 172px;
  text-indent:-9999em;
  margin:20px auto 0 auto;
  display:block;
}

.wrapper {
  width:100%;
  height:100%;
}

.top-space{
  margin-top:40px;
}

section.principal {
  margin:0 0 0 @menuwidth;
  h1 {font-size:140%;}
  h2 {font-size:110%;}
  //background: url(http://www.ibiblio.org/wm/paint/auth/kandinsky/kandinsky.comp-8.jpg) no-repeat;
  background:no-repeat;
}


#palace-grid-holder {
  overflow:hidden;
  width:100%;
  max-width:480px;
  margin:0 auto;
  height:100%;
}

.grid-row {
  .item-holder {
    float:left;
    width:25%;
    margin:20px 0 0 0;
    overflow:hidden;
    &:first-child { }   
   .door {
     width:100px;
     height:170px;
     -webkit-border-top-left-radius: 100px;
     -webkit-border-top-right-radius: 100px;
     -moz-border-radius-topleft: 100px;
     -moz-border-radius-topright: 100px;
     border-top-left-radius: 100px;
     border-top-right-radius: 100px;
     margin:0 auto;
     background: no-repeat;
     position:relative;
     -webkit-backface-visibility: hidden;
     -webkit-box-shadow: inset rgba(155,155,155,0.5) 4.5px 2px 0px;
     box-shadow: inset rgba(155,155,155,0.5) 4.5px 2px 0px;
     &.event {
       -webkit-box-shadow: inset rgba(255,0,0,1) 4.5px 2px 0px;
        box-shadow: inset rgba(255,0,0,1) 4.5px 2px 0px;
        .door {
          -webkit-box-shadow: inset rgba(255,0,0,1) 4.5px 2px 0px;
            box-shadow: inset rgba(255,0,0,1) 4.5px 2px 0px;
         }
     }
     
     div.cover {
      background-color: rgba(238,238,238,1);
      width:100%;
      height:100%;
      position:relative;
     }
   }

   .date {
     text-transform:uppercase;
     position:absolute;
     z-index:3;
     bottom:8px;
     width:100%;
     text-align:center;
     color:@med_grey;
     sup {top:-3px; left:1px}
   }
  }
}

#social-media-feed {
  height:@socialheight;
  width:100%;
  margin:0;
  padding:0;
  h3 {
    text-align:center;
    margin:0;
    font-size:15px;
    line-height:40px;
  }
}

.cd-page {
  position:absolute;
  top:0;
  left:0;
  margin:0 0 0 0;
  width:100%;
  height:100%;
  background:white;
  z-index:1000;
}

/* ==========================================================================
   Mobile styles
   ========================================================================== */
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  #logo a {
    background-image: url('../img/logo@2x.png');
    background-size: 128px 172px;
  }
}


@media screen and (max-device-width: 480px) {
  .grid-row {
    .item-holder {
      &:nth-child(3){
        clear:both;
      }    
    }
  }
}


/* jQuery Countdown styles 1.6.2. */
.hasCountdown {
}
.countdown_rtl {
	direction: rtl;
}
.countdown_holding span {
	color: #888;
}
.countdown_row {
	clear: both;
	width: 100%;
	padding: 0px 2px;
	text-align: center;
}
.countdown_show1 .countdown_section {
	width: 98%;
}
.countdown_show2 .countdown_section {
	width: 48%;
}
.countdown_show3 .countdown_section {
	width: 32.5%;
}
.countdown_show4 .countdown_section {
	width: 24.5%;
}
.countdown_show5 .countdown_section {
	width: 19.5%;
}
.countdown_show6 .countdown_section {
	width: 16.25%;
}
.countdown_show7 .countdown_section {
	width: 14%;
}
.countdown_section {
	display: inline-block;
	font-size: 75%;
	text-align: center;
}
.countdown_amount {
	font-size: 200%;
}
.countdown_descr {
	display: block;
	width: 100%;
}





/* ROYAL SLIDE TEMPLATE FILES */

.rsUni, .rsUni .rsOverflow, .rsUni .rsSlide, .rsUni .rsVideoFrameHolder, .rsUni .rsThumbs {

}
.rsUni .rsArrow {
    cursor: pointer;
    display: block;
    height: 100%;
    position: absolute;
    width: 60px;
    z-index: 21;
}
.rsUni.rsVer .rsArrow {
    height: 60px;
    width: 100%;
}
.rsUni.rsVer .rsArrowLeft {
    left: 0;
    top: 0;
}
.rsUni.rsVer .rsArrowRight {
    bottom: 0;
    left: 0;
}
.rsUni.rsHor .rsArrowLeft {
    left: 0;
    top: 0;
}
.rsUni.rsHor .rsArrowRight {
    right: 0;
    top: 0;
}
.rsUni .rsArrowIcn {
    background: url("rs-universal.png") repeat scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    height: 32px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    opacity: 0.5;
    position: absolute;
    top: 50%;
    width: 32px;
}
.rsUni .rsArrow:hover .rsArrowIcn {
    opacity: 1;
}
.rsUni.rsHor .rsArrowLeft .rsArrowIcn {
    background-position: -64px -32px;
}
.rsUni.rsHor .rsArrowRight .rsArrowIcn {
    background-position: -64px -64px;
}
.rsUni.rsVer .rsArrowLeft .rsArrowIcn {
    background-position: -96px -32px;
}
.rsUni.rsVer .rsArrowRight .rsArrowIcn {
    background-position: -96px -64px;
}
.rsUni .rsArrowDisabled .rsArrowIcn {
    opacity: 0.1 !important;
}
.rsUni .rsBullets {
    height: auto;
    line-height: 5px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 4px;
    position: relative;
    text-align: center;
    width: 100%;
    z-index: 35;
}
.rsUni .rsBullet {
    display: inline-block;
    height: 8px;
    padding: 5px;
    width: 8px;
}
.rsUni .rsBullet span {
    background: none repeat scroll 0 0 #BBBBBB;
    border-radius: 50% 50% 50% 50%;
    display: block;
    height: 8px;
    width: 8px;
}
.rsUni .rsBullet.rsNavSelected span {
    background-color: #383838;
}
.rsUni .rsThumbsHor {
    height: auto;
    width: 100%;
}
.rsUni .rsThumbsVer {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 96px;
}
.rsUni.rsWithThumbsHor .rsThumbsContainer {
    height: 100%;
    position: relative;
}
.rsUni.rsWithThumbsVer .rsThumbsContainer {
    position: relative;
    width: 100%;
}
.rsUni .rsThumb {
    float: left;
    height: 72px;
    overflow: hidden;
    width: 96px;
    text-align:center;
}
.rsUni .rsThumb img {
    height: auto;
    width: 100%;
}
.rsUni .rsThumb.rsNavSelected {
    background: none repeat scroll 0 0 #000;
}
.rsUni .rsThumb.rsNavSelected img {
    opacity: 0.7;
}
.rsUni .rsThumb.rsNavSelected .thumbIco {
    border: 2px solid rgba(255, 255, 255, 0.9);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.rsUni .rsTmb {
    display: block;
    margin:0 auto;
}
.rsUni .rsTmb h5 {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
}
.rsUni .rsTmb span {
    color: #DDDDDD;
    font-size: 13px;
    line-height: 18px;
    margin: 0;
    padding: 0;
}
.rsUni .rsThumbsArrow {
    cursor: pointer;
    display: block;
    height: 100%;
    position: absolute;
    width: 20px;
    z-index: 21;
}
.rsUni .rsThumbsArrow:hover {
}
.rsUni.rsWithThumbsVer .rsThumbsArrow {
    height: 20px;
    width: 100%;
}
.rsUni.rsWithThumbsVer .rsThumbsArrowLeft {
    left: 0;
    top: 0;
}
.rsUni.rsWithThumbsVer .rsThumbsArrowRight {
    bottom: 0;
    left: 0;
}
.rsUni.rsWithThumbsHor .rsThumbsArrowLeft {
    left: 0;
    top: 0;
}
.rsUni.rsWithThumbsHor .rsThumbsArrowRight {
    right: 0;
    top: 0;
}
.rsUni .rsThumbsArrowIcn {
    background: url("rs-universal.png") repeat scroll 0 0 transparent;
    cursor: pointer;
    height: 16px;
    left: 50%;
    margin-left: -8px;
    margin-top: -8px;
    position: absolute;
    top: 50%;
    width: 16px;
}
.rsUni.rsWithThumbsHor .rsThumbsArrowLeft .rsThumbsArrowIcn {
    background-position: -128px -32px;
}
.rsUni.rsWithThumbsHor .rsThumbsArrowRight .rsThumbsArrowIcn {
    background-position: -128px -48px;
}
.rsUni.rsWithThumbsVer .rsThumbsArrowLeft .rsThumbsArrowIcn {
    background-position: -144px -32px;
}
.rsUni.rsWithThumbsVer .rsThumbsArrowRight .rsThumbsArrowIcn {
    background-position: -144px -48px;
}
.rsUni .rsThumbsArrowDisabled {
    display: none !important;
}
.rsUni .rsThumb {
    height: 44px;
    width: 59px;
}
.rsUni .rsThumbsHor {
    height: 44px;
}
.rsUni .rsThumbsVer {
    width: 59px;
}
.rsUni .rsTabs {
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 12px;
    position: relative;
    text-align: center;
    width: 100%;
}
.rsUni .rsTab {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #D9D9DD -moz-use-text-color #D9D9DD #D9D9DD;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    height: auto;
    min-width: 72px;
    padding: 5px 13px 6px;
    text-align: center;
    text-decoration: none;
    width: auto;
}
.rsUni .rsTab:first-child {
    border-bottom-left-radius: 16px;
    border-top-left-radius: 16px;
}
.rsUni .rsTab:last-child {
    border-bottom-right-radius: 16px;
    border-right: 1px solid #D9D9DD;
    border-top-right-radius: 16px;
}
.rsUni .rsTab:active {
    background-color: #F4F4F4;
}
.rsUni .rsTab.rsNavSelected {
    background: none repeat scroll 0 0 #383838;
    border-color: #383838;
    color: #FFFFFF;
}
.rsUni .rsFullscreenBtn {
    cursor: pointer;
    display: block;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    z-index: 22;
}
.rsUni .rsFullscreenIcn {
    background: url("rs-universal.png") repeat scroll 0 0 transparent;
    border-radius: 2px 2px 2px 2px;
    display: block;
    height: 32px;
    margin: 6px;
    opacity: 0.7;
    width: 32px;
}
.rsUni .rsFullscreenBtn:hover .rsFullscreenIcn {
    opacity: 1;
}
.rsUni.rsFullscreen .rsFullscreenIcn {
    background-position: -32px 0;
}
.rsUni .rsPlayBtn {
    cursor: pointer;
    height: 64px;
    margin-left: -32px;
    margin-top: -32px;
    width: 64px;
}
.rsUni .rsPlayBtnIcon {
    background: url("rs-universal.png") no-repeat scroll 0 -32px rgba(0, 0, 0, 0.75);
    border-radius: 4px 4px 4px 4px;
    display: block;
    height: 64px;
    transition: all 0.3s ease 0s;
    width: 64px;
}
.rsUni .rsPlayBtn:hover .rsPlayBtnIcon {
    background-color: rgba(0, 0, 0, 0.9);
}
.rsUni .rsBtnCenterer {
    height: 20px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 20px;
}
.rsUni .rsCloseVideoBtn {
    cursor: pointer;
    height: 44px;
    position: absolute;
    right: 0;
    top: 0;
    width: 44px;
    z-index: 500;
}
.rsUni .rsCloseVideoBtn.rsiOSBtn {
    right: -6px;
    top: -38px;
}
.rsUni .rsCloseVideoIcn {
    background: url("rs-universal.png") repeat scroll -64px 0 rgba(0, 0, 0, 0.75);
    height: 32px;
    margin: 6px;
    width: 32px;
}
.rsUni .rsCloseVideoIcn:hover {
    background-color: rgba(0, 0, 0, 0.9);
}
.rsUni .rsPreloader {
    background-image: url("../preloaders/preloader-white.gif");
    height: 20px;
    left: 50%;
    margin-left: -10px;
    margin-top: -10px;
    top: 50%;
    width: 20px;
}
.rsUni .rsGCaption {
    background: none repeat scroll 0 0 #222222;
    border-radius: 2px 2px 2px 2px;
    bottom: 6px;
    color: #FFFFFF;
    float: none;
    font-size: 12px;
    left: 6px;
    padding: 2px 8px;
    position: absolute;
    text-align: left;
    width: auto;
}





